/*
// Directories
//
*/

$fa-font-path: '../fonts/webfonts' !default;
$font-location: 'dist/';
$owl-image-path: "/dist/images/" !default;

$grid-gutter-width: 20px !default;


/*
// Colors
//
// Gray and brand colors for use across Bootstrap.
*/
$dark: #212121;
$site_color: #f07700;
$text_hover: #0ca1ea;


// $grid-float-breakpoint: 769px;