@media (min-width: 992px) {
    #header-wrapper .header-content .navbar-brand img {
        height: 80px;
    }

    #content-wrapper .banner-wrapper .banner-content {
        text-align: left;
        background-color: transparent;
        color: #000;
    }

    #content-wrapper .we-solve-your-problem .section-content {
        background: none;
        padding: 150px 20px 20px;
        text-align: left;
    }
    
    #content-wrapper .we-solve-your-problem {
        &:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 50%;
			height: 100%;
			background: url('../images/white-cloth.png') #000 center no-repeat;
			background-size: cover;
			color: #fff;
			z-index: 1;
		}
    }

    #content-wrapper .help-me-transform-now:before {
        width: 100%;
        height: auto;
    }

    #content-wrapper .help-me-transform-now .form-container-wrapper {
        padding-top: 0;
        background: none;
    }
    
    #content-wrapper .help-me-transform-now {
        &:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 50%;
			height: 100%;
			background: url('../images/slender-woman.jpg') #000 bottom no-repeat;
			color: #fff;
			z-index: 1;
			background-size: cover;
        }
        
        &:after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            width: 50%;
            height: 100%;
            background: url('../images/white-cloth.png') #000 center no-repeat;
            color: #fff;
            z-index: 1;
            background-size: cover;
        }
    }
    
    #content-wrapper .banner-wrapper .banner-content .main-text {
        font-size: 60px;
    }

    #content-wrapper .banner-wrapper .banner-content .sub-text {
        font-size: 30px;
    }

    #content-wrapper .banner-wrapper .banner-content .sub-text-3 {
        font-size: 22px;
    }

    #content-wrapper .section-title {
        font-size: 34px;
    }

    #content-wrapper .awards-winning .awards-list .awards {
        width: 19%;
    }
}