@media (min-width: 320px) {
   
}

@media (min-width: 321px) {
   
}

@media (min-width: 375px) {
    #content-wrapper .banner-wrapper .banner-content .main-text {
        font-size: 40px;
    } 
}

@media (min-width: 576px) {
	
}

@media (max-width: 576px) {
	
}