@media (min-width: 1200px) {
    #content-wrapper .banner-wrapper {
        background: none;
        background-color: #e4e4df;
    }
    
    #content-wrapper .banner-wrapper .banner {
        background: url('../images/banner.png') center no-repeat #e4e4df;
        height: 800px;
    }

    #content-wrapper .we-solve-your-problem .section-content {
        padding: 230px 20px 20px;
    }

    #content-wrapper .help-me-transform-now .form-container {
        padding-left: 30px;
    }
}