@media (min-width: 601px) {
	
}

@media (min-width: 768px) {
    #header-wrapper .header-content .navbar-brand img {
        height: 70px;
    }

    #header-wrapper .header-content {
        text-align: left;
    }

    #header-wrapper .call-us-at-wrapper {
        text-align: right
    }

    #content-wrapper .banner-wrapper .banner .w-100 {
        width: 100% !important;
    }

    #content-wrapper .banner-wrapper .container-2 {
        padding-left: 20px;
        padding-right: 20px;
    }

    #content-wrapper .banner-wrapper .banner-content .sub-text {
        font-size: 24px;
    }

    #content-wrapper .banner-wrapper .banner-content .sub-text-3 {
        font-size: 22px;
    }

    #content-wrapper .banner-wrapper .banner-content .other-text {
        font-size: 16px;
    }

    #content-wrapper .banner-wrapper .banner .w-100 {
        margin: 0;
    }

    #content-wrapper .section-title {
        font-size: 26px;
    }

    #content-wrapper .awards-winning .awards-list .awards {
        width: 40%;
    }
    
    #content-wrapper .call-us-block {
        .number {
            display: inline-block;
        }

        span {
            display: block;
        }

        .call-us {
            display: table;
            margin: 0 auto;
        }

        .call-us-icon {
            display: table-cell;
            padding-right: 24px;

            img {
                margin: 0;
            }
        }

        .call-us-text {
            vertical-align: middle;
            display: table-cell;
            font-size: 28px;
        }
    }
}

@media (min-width: 769px) {
	
}

@media (max-width: 768px) {
	
}

@media (min-width: 576px) and (max-width: 768px) {

}

@media (max-width: 991px) {
    
}

@media (max-width: 768px) {
	#content-wrapper .we-solve-your-problem .container-2 {
        padding: 0;
        margin: 0;
        width: 100%;
        max-width: 100%;
    }
}