@media (min-width: 1400px) {
	.container {
		max-width: 1360px;
	}

	.slider-section .slider-item {
		width: 850px;
	}
	
	#header-wrapper .navbar-light .navbar-nav .nav-link {
        padding-left: 26px;
        padding-right: 26px;
	}
	
	.specialist-opinions-section .opinion .opinion-thumbnail {
        flex: 0 0 350px;
    }
    
}

@media (min-width: 1600px) {
	.container {
		max-width: 1560px;
	}

    .page-section .page-content-wrapper.sotm-wrapper {
        .page-content {
            padding: 0 150px;

            .share-buttons {
                left: 45px;
            }
        }
    }
}