/* import custom variables */
@import "modules/custom_variables";

/* import bootstrap sass */
@import "node_modules/bootstrap/scss/bootstrap";

// @import 'node_modules/owl.carousel/dist/assets/owl.carousel.css';

@import "node_modules/owl.carousel/src/scss/owl.carousel";
@import "node_modules/owl.carousel/src/scss/owl.theme.default";

/* import font awesome */
@import "./imports/font-awesome/fontawesome";

/* import checkbox */
// @import "imports/checkbox/awesome-bootstrap-checkbox.scss";


/*****************************************************
//													//
//  					DEFAULT						//
//													//
*****************************************************/
html, body {
	height: 100%;
}

body {
	color: #000;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 18px;
	margin: 0;
}

.container {
	padding-left: 20px;
	padding-right: 20px;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	font-family: 'Avenir LT 65';
}

a {
	color: #000;
	
	&:hover {
		color: $text_hover;
		text-decoration: none;
	}

	&.blog-grid-category:hover {
		color: $text_hover;
		background: black;
	}	
}

/**
 * Wordpress Default Image Alignment Style
 */
img.alignright {
	float: right;
	margin: 0 0 1em 1em;
}
img.alignleft {
	float: left;
	margin: 0 1em 1em 0;
}
img.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.alignright {
	float: right;
}
.alignleft {
	float: left;
}
.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.img-full {
	width: 100%;
}

.btn-site {
	color: #ffffff;
	border-width: 1px;
	background-color: #c99e76;
	border-color: #c99e76;
	padding: 14px 34px;
	font-family: 'Avenir LT 65';
	font-size: 20px;
	font-weight: 600;
	line-height: 1;
	border-radius: 0;
	transition: all 0.2s ease-in-out;
	text-decoration: none !important;

	&:hover {
		background-color: darken(#c99e76, 10%);
		color: #fff;
	}

	&:focus {
		background-color: darken(#c99e76, 20%);
		color: #fff;
	}

	&.pink {
		background: #ff4564;
		border-color: #fff;

		&:hover {
			background-color: darken(#ff4564, 10%);
			color: #fff;
		}

		&:focus {
			background-color: darken(#ff4564, 30%);
			color: #fff;
		}
	}

	&.blue {
		background: #006bb5;
		border-color: #006bb5;
		color: #fff;

		&:hover {
			background-color: lighten(#006bb5, 10%);
			color: #fff;
		}

		&:focus {
			background-color: darken(#006bb5, 10%);
			color: #fff;
		}
	}

	&.white {
		background: #fff;
		border-color: #ed6e00;
		color: #ed6e00;

		&:hover {
			background-color: lighten(#ed6e00, 10%);
			color: #fff;
		}

		&:focus {
			background-color: darken(#ed6e00, 10%);
			color: #fff;
		}
	}

	&.subs {
		background: transparent;
		color: #fff;
		font-size: 18px;
		border: 0;
		border-bottom: 1px solid #fff;
		border-radius: 0;
		font-weight: normal;

		&:hover {
			background-color: lighten(#333, 10%);
			color: #fff;
		}

		&:focus {
			background-color: darken(#333, 10%);
			color: #fff;
		}
	}
}

.form-control {
	border-radius: 0;
}

.checkbox, .radio {
	padding-left: 10px;
}

.bootstrap-datetimepicker-widget table td.disabled, 
.bootstrap-datetimepicker-widget table td.disabled:hover {
	color: #bdb7b7;
}

.table-borderless {
	th, td {
		border: 0;
	}
}

.error-404 {
	padding: 30px 0;
}

/*Chrome, Safari, Opera */
@-webkit-keyframes mySticky {
	from {
		margin-top:-200px;
	}
	to {
		margin-top:0;
	}
}
   
/*Standard syntax */
@-moz-keyframes mySticky {
	from {
		margin-top:-200px;
	}
	to {
		margin-top:0;
	}
}

/*Standard syntax*/
@keyframes mySticky {
	from {
		margin-top:-200px;
	}
	to {
		margin-top:0;
	}
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
   opacity: 1;
}

.pagination-wrapper {
	text-align: center;
	margin-top: 30px;

	.inner-pagination-wrapper {
		display: inline-block;

		.pagination {
			@extend .pagination;
			text-align: center;
			margin: 0;

			li {
				@extend .page-item;
				
				&:first-child span {
					border-top-left-radius: 5px;
					border-bottom-left-radius: 5px;
				}
			}

			a, span {
				@extend .page-link;
				border: 2px solid #b1b1b1;
				padding: 0 15px;
				margin: 0 3px;
				color: #fff;
				border-radius: 5px;
				font-size: 18px;
				font-weight: bold;
				background-color: #b1b1b1;
				line-height: 46px;
				width: 50px;
				height: 50px;

				&:hover {
					background-color: darken(#b1b1b1, 10%);
					border: 2px solid #b1b1b1;
					color: #fff;
				}
			}
		}
	}
}

.row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap; /* Safari 6.1+ */
	-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
		-ms-flex-flow: row wrap;
			flex-flow: row wrap;
}



/*****************************************************
//													//
//  					HEADER 						//
//													//
*****************************************************/
#header-wrapper {
	&.fixed {
		position: fixed;
		width: 100%;
		top: 0;
		background: #fff;
		z-index: $zindex-fixed;
		animation: mySticky 1s;
		box-shadow: 0 1px 1px #ddd;
	}

	.header-content {
		padding: 10px 0;
		text-align: center;

		.navbar-brand {
			margin: 0 auto;

			img {
				height: 55px;
			}
		}
	}

	.call-us-at-wrapper {
		// text-align: right;
		text-align: center;
		padding: 15px 0;

		.call-us-at-inner {
			display: inline-block;
			text-align: left;

			.content {
				text-align: center;
				line-height: 1;
			}

			.caption {
				font-size: 16px;
				margin-bottom: 8px;
			}
			
			.number {
				font-size: 30px;
				font-weight: 600;

			}
		}
	}
}

/*****************************************************
//													//
//  					CONTENT						//
//													//
*****************************************************/

#content-wrapper {
	.banner-wrapper {
		background-color: #e4e4df;
		background: url('../images/banner.png') right no-repeat #e4e4df;
		background-size: cover;

		.container-2 {
			padding: 0;
		}

		.banner {
			// background: url('../images/banner.png') center no-repeat #e4e4df;
			// height: 800px;
			align-items: center;
			display: flex;

			.w-100 {
				width: auto !important;
			}
		}

		.banner-content {
			background-color: rgba(51,51,51,0.7);
			color: #fff;
			padding: 50px 15px;
			margin: 30px 0;
			text-align: center;

			.main-text {
				line-height: 1;
				// font-size: 60px;
				font-size: 36px;
				font-family: 'Montserrat', sans-serif;
				font-weight: 800;
			}

			.sub-text {
				line-height: 1;
				// font-size: 30px;
				font-size: 18px;
				font-family: 'Montserrat', sans-serif;
				font-weight: 700;
			}
			
			.sub-text-2 {
				line-height: 1;
				font-size: 32px;
				font-family: 'Montserrat', sans-serif;
				font-weight: 600;
			}

			.sub-text-3 {
				line-height: 1;
				// font-size: 22px;
				font-size: 20px;
				font-family: 'Montserrat', sans-serif;
				font-weight: 600;
			}

			.circle-badge-wrapper {
				margin-bottom: 20px;
				margin-top: 20px;
			}

			.circle-badge {
				vertical-align: top;
				display: inline-block;
				// width: 170px;
				// height: 170px;
				width: 150px;
				height: 150px;
				border-radius: 50%;
				background: #000;
				color: #fff;
				padding: 62px 20px;
				text-align: center;
				font-family: 'Montserrat', sans-serif;
				font-weight: 400;
				// font-size: 16px;
				font-size: 14px;
				margin-bottom: 10px;

				&.exp {
					padding: 54px 24px;

					.emp {
						// font-size: 26px;
						font-size: 22px;
					}
				}

				&.in-just {
					// font-size: 26px;
					font-size: 22px;
					padding: 54px 20px;
					line-height: 1.2;
				}
			}

			.other-text {
				// font-size: 16px;
				font-size: 14px;
				font-family: 'Montserrat', sans-serif;
				font-weight: 400;
			}
		}
	}

	.section {
		// padding: 90px 0;
		padding: 70px 0;

		&.onlipo-and-coolsculpting {
			.featured-img {
				text-align: center;
				margin-bottom: 30px;
			}
			
			.content {
				text-align: left;
			}

			ul {
				margin: 0;

				li {
					margin-bottom: 10px;
				}
			}
		}

		&.form {
			padding: 30px 0 70px;
			position: relative;
			padding-top: 0;
			background-color: #000;

			&:before {
				background: #e4e4df;
				content: '';
				position: absolute;
				padding-top: 0;
				height: 100px;
				width: 100%;
				top: 0;
				left: 0;
				z-index: 2;
			}

			&:after {
				content: '';
				position: absolute;
				height: 100%;
				width: 100%;
				top: 0;
				left: 0;
				z-index: 1;
				background-image: url('../images/white-cloth.png');
			}
			
			.form-section {
				background: #fff;
				// padding: 40px;
				padding: 30px 15px;
				position: relative;
			}

			.form-wrapper {
				position: relative;
				z-index: 3;
			}
		}

		&.sequence-section {
			.section-subtitle {
				text-align: center;
				width: 80%;
				margin: 0 auto 30px;
				font-size: 16px;
			}

			.sequence {
				font-weight: 300;
				font-size: 18px;
				margin-bottom: 20px;
			}

			.sequence-description {
				margin-top: 20px;
			}
		}
	}

	.awards-winning {
		.awards-list {
			@extend .clearfix;
			text-align: center;

			.awards {
				display: inline-block;
				width: 100%;
				padding: 5px;

				img {
					width: 100%;
				}
			}
		}
	}

	.help-me-transform-now {
		padding: 0;
		position: relative;
		min-height: 700px;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			// width: 50%;
			// height: 100%;
			background: url('../images/slender-woman.jpg') #000 bottom no-repeat;
			color: #fff;
			z-index: 1;
			background-size: cover;
			width: 100%;
			height: 600px;
		}

		&:after {
			// content: '';
			position: absolute;
			top: 0;
			right: 0;
			width: 50%;
			height: 100%;
			background: url('../images/white-cloth.png') #000 center no-repeat;
			color: #fff;
			z-index: 1;
			background-size: cover;
		}

		.form-container-wrapper {
			padding-top: 600px;
			background: url('../images/white-cloth.png') #000 center no-repeat;
			background-size: cover;
		}

		.container-2 {
			z-index: 2;
			position: relative;
			color: #fff;
		}

		.form-container {
			// padding: 60px 0 60px 20px;
			padding: 60px 0 60px;
		}
	}
	
	.we-solve-your-problem {
		padding: 0;
		position: relative;

		.container-2 {
			z-index: 2;
			position: relative;
			color: #fff;
		}

		.fat-woman {
			text-align: center;
		}

		.section-content {
			// font-size: 26px;
			// padding-top: 150px;
			font-weight: 300;
			background: url('../images/white-cloth.png') #000 center no-repeat;
			background-size: cover;
			padding: 60px 20px;
			font-size: 20px;
			text-align: center;

			.emp {
				font-weight: 500;
				font-size: 34px;
			}

			// img {
			// 	margin: 0 auto;
			// 	text-align: center;
			// }
		}
	}

	.section-title {
		// font-size: 38px;
		font-size: 20px;
		font-weight: 500;
		text-align: center;
		line-height: 1.2;
		margin: 0 0 40px 0;
		letter-spacing: 1.5px;

		b, strong {
			font-weight: 700;
		}
	}

	.onlipo-and-coolsculpting {
		font-size: 20px;
	}

	.sequence-section {
		border-bottom: 1px solid #e4e4df;
		background: url('../images/white-cloth.png') #000 center no-repeat;
		color: #fff;
		background-size: cover;
	}

	.faq {
		background-color: #e4e4df;
	}

	.accordion {
		.card {
			background-color: transparent;
			border: 0;
			margin-bottom: 30px;

			.card-header {
				cursor: pointer;
				background: transparent;
				border-bottom: 4px solid #333;
				font-size: 20px;
				padding: 16px 70px 16px 0;
				position: relative;

				&:before {
					position: absolute;
					right: 15px;
					top: 20px;
					content: '\f068';
					display: inline-block;
					vertical-align: middle;
					font-weight: 900;
					line-height: 1;
					font-family: 'Font Awesome 5 Free';
				}

				&.collapsed {
					&:before {
						content: '\f067';
					}
				}
			}

			.card-body {
				padding: 40px 0 20px;
				font-size: 16px;
			}
		}
	}

	.call-us-wrapper {
		background-color: #e4e4df;
		padding: 70px 0;
	}

	.call-us-block {
		border: 5px solid #e4e4df;
		text-align: center;
		padding: 20px;
		width: 100%;
		// font-size: 20px;

		&.white {
			border: 7px solid #fff;
		}

		.number {
			font-size: 28px;
			color: #000;
			font-weight: 500;
			letter-spacing: 2px;
			display: block;
		}

		.call-us {
			display: inline-block;
			// padding-left: 100px;
			position: relative;
			line-height: 1.2;
			font-weight: 300;
			font-size: 20px;
			// padding: 100px 0 0 0;

			img {
				width: 120px;
				float: none;
				display: block;
				margin: 0 auto;
				margin-bottom: 20px;
			}

			&:before {
				// content: '';
				position: absolute;
				top: 8px;
				left: 0;
				background: url('../images/customer-service.svg');
				// content: '\f098';
				// font-size: 70px;
				// font-family: 'Font Awesome 5 Free';
				// font-weight: 900;
				// vertical-align: middle;
				// color: #828282;
				// display: inline-block;
				// line-height: 1;
			}
		}
	}
}


/*****************************************************
//													//
//  					FOOTER						//
//													//
*****************************************************/

#footer-wrapper {
	.top-footer {
		.section-title {
			font-weight: 500;
			font-size: 30px;
			margin-bottom: 10px;
		}
	}

	.bottom-footer {
		padding: 50px 10px;

		.website-maintained {
			text-align: center;
			font-size: 14px;
		}
	}
}

/*****************************************************
//													//
//  			RESPONSIVE MODULES					//
//													//
*****************************************************/

// Small devices (landscape phones, 576px and up)
@import "modules/landscape_phones";

// Medium devices (tablets, 768px and up)
@import "modules/tablets";

// Large devices (desktops, 992px and up)
@import "modules/desktops";

// Extra large devices (large desktops, 1200px and up)
@import "modules/large_desktops";

// Extra large devices (large desktops, 1400px and up)
// @import "modules/xxlarge_desktops";